#parrafo-dj {
    color: black;
}

header {
    color: white;
}

header.titulo {
    background-color: green;
}

nav ul li {
    float: left;
    width: 8%;
}

nav ul {
    background-color: red;
}

.borde::after {
    clear:both;
    content:"";
    display:table;
}

